.project{
  width: 100%;
  flex-direction: column;
  display: flex;
  font-family: 'Times New Roman', Times, serif; 
  color: blue;
}

.project img{
  border: solid 5px blue;
}

.project_table > *{
  display: flex;
  padding: 15px;
}

.project_table{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: 100%;
}

img{
  transition: 150ms ease-out;
}

img:hover{
  scale: 1.02;
}