.project{
  width: 100%;
  flex-direction: column;
  display: flex;
  font-family: 'Times New Roman', Times, serif;
  color:blue;
}

.project > img{
  outline: solid 4px blue;
}

.project_table{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.project_table{
  gap: 20px;
}

img{
  transition: 150ms ease-out;
}

img:hover{
  scale: 1.02;
}