*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  max-width: 100%;
  height: auto;
}

body {
  background-color: white;
  color: black;
  font-family: Verdana;
  height: 100%;
  overflow: hidden;
}

html{
  height: 100%;
}

a {
  display: inline-block;
  line-height: 0;
}

.center{
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100dvh;
  flex-direction: column;
  }

.center > *{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  }
  
.fadeIn{
  animation-name: fadeIn;
  animation-duration: 1s;
}
  
.textbox{
  font-size: 16px;
  color: #0000FF;
  padding: 10px;
  display: flex;  
  flex-direction: row;
  background-image: url("thing.png");
  background-size: contain;
  background-repeat: no-repeat;
  border: solid blue 5px;
  height: auto;
}

.write_textbox > div{
  padding: 10px;
  padding-top: 40px;
  font-family: 'Times New Roman', Times, serif;
  font-size: 20px;
}

.write_textbox > img{
  padding: 10px;
  padding-top: 40px;
}

.social > * {
  width: 45px;
  margin-left: 5px;
  margin-right: 5px;
  height: auto;
  cursor: pointer;
  transition: 150ms ease-out;
}

.social img:hover {
  scale: 1.05
}

@keyframes fadeIn{
  
  0% {
  opacity: 0; 
  transform: translateY(5%);
  }

  
  100% {
    opacity: 1; 
    transform: translateY(0%);
  }
}

.content > *{
  margin-bottom: 10px;
}

.button{
  background-color: white;
  padding: 15px;
  border: solid #0000FF 4px;
  color: #0000FF;
  margin-top: 10px;
  font-family: 'Times New Roman', Times, serif;
  font-size: 20px;
  text-decoration: underline;
}

.button:hover{
  text-decoration: none;
  cursor: pointer;
}