*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  max-width: 100%;
  height: auto;
}

body {
  background-color: white;
  color: black;
  font-family: Verdana;
  height: 100%;
  overflow: hidden;
}

html{
  height: 100%;
}

a {
  display: inline-block;
  line-height: 0;
}


.box{
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100dvh;
  flex-direction: column;
  }
  
.fadeIn{
  animation-name: fadeIn;
  animation-duration: 1s;
}

.box > *{
  margin-bottom: 15px;
}
  
.textbox{
  font-size: 16px;
  color: #0000FF;
  padding: 10px;
  display: flex;  
  flex-direction: row;
  background-image: url("thing.png");
  background-size: contain;
  background-repeat: no-repeat;
  border: solid blue 5px;
  height: auto;
}

.jaja > div{
  padding: 10px;
  padding-top: 40px;
  font-family: 'Times New Roman', Times, serif;
  font-size: 20px;
}

.jaja > img{
  padding: 10px;
  padding-top: 40px;
}

.poop > * {
  width: 45px;
  margin-left: 5px;
  margin-right: 5px;
  height: auto;
  cursor: pointer;
  transition: 150ms ease-out;
}

.poop img:hover {
  scale: 1.05
}

@keyframes fadeIn{
  
  0% {
  opacity: 0; 
  transform: translateY(5%);
  }

  
  100% {
    opacity: 1; 
    transform: translateY(0%);
  }
}
